@import url('https://fonts.cdnfonts.com/css/arcade-classic');
.Title-bg{
    background: linear-gradient(to bottom right,rgb(145, 87, 171), rgb(88 28 135) 65%, rgb(41, 4, 53));
    /* background: linear-gradient(to bottom right, #efdea9 5%,#1f1701); */
}
.Title{
    color: #f8edcd;
    text-shadow: 5px 2px rgb(22, 4, 54),7px 4px #f8edcd;
    font-size: 14vw;
    font-family: 'TakshakFont';
    /* text-shadow: 5px 2px #917628,7px 4px #f8edcd; */
}
.overlay{
    background-color: rgba(240,209,165,.1);
}
.bottom-text{
    font-family: 'ArcadeClassic', sans-serif;
}
@media screen and (max-width: 760px) {
    .Title{
        text-shadow:5px 2px rgb(61, 61, 63),7px 4px #f8edcd;
        font-size: 100px;
    }
}