@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'TakshakFont';
  src: url('fonts/Heathergreen-XPPG.ttf');
  font-weight: normal;
  font-style: normal;
}
.takshakMainHeading
{
  font-family: TakshakFont;
 
}